html,body{min-width:100%;min-height:100%;height:100%;padding:0;margin:0;font-family:'volvo';overflow:hidden;}

/* Leaderboard START */

.logo {width:190px;height:194px;background:url(img/logo.png)}

.leaderboard section {position:absolute;top:0;left:0;right:0;bottom:0;}
#leaderboard {background:url(img/leaderboard-bg.png);background-size:cover;padding:100px;color:#FFF}
#leaderboard .h1 {font-size:200px;margin:0px;color:#16a6c9;font-family:'volvo';}
#leaderboard ul {list-style:none;margin:0;padding:0;text-transform:uppercase;font-size:60px;position:relative;z-index:1;margin-right:250px;overflow:hidden;margin-top:40px;}
#leaderboard li {border-bottom:solid 1px #16a6c9;margin-bottom:10px;white-space:nowrap;padding-right:60px;}
#leaderboard li:last-child {border-bottom:none;}
#leaderboard li .from {font-family:'volvo';color:#16a6c9;}
#leaderboard .logo {position:absolute;bottom:120px;right:130px;z-index:0;}
#leaderboard .bullet {color:#16a6c9}
#leaderboard .info {overflow:hidden;display:inline-block;width:100%;}
#leaderboard .wins {position:absolute;right:0;}


#versus {display:none;background:url(img/versus-bg.png);background-size:cover;z-index:1;}
#versus .logo {position:absolute;bottom:100px;left:50%;margin-left:-95px;}
#versus .contestants {min-height:300px;width:1920px;left:50%;top:350px;position:absolute;margin-left:-960px}
#versus .contestants > div {position:absolute;top:0;color:#FFF}
#versus .contestants .left {left:190px;width:675px;text-align:right;}
#versus .contestants .right {right:190px;width:675px;text-align:left;}
#versus .contestants .middle {left:865px;top:70px;color:#16a6c9;font-family:'volvo';font-size:140px;width:190px;text-align:center}
#versus .contestants .name {font-family:'volvo';font-size:140px;line-height:0.8em}
#versus .contestants .data {font-family:'outline';font-size:72px;}

@media all and (max-width: 1441px) {
#leaderboard ul {font-size:46px;}
#versus .contestants {top:350px;width:1360px;margin-left:-680px;}
#versus .contestants .left {left:0px;width:600px;text-align:right;}
#versus .contestants .right {right:0px;width:600px;text-align:left;}
#versus .contestants .middle {left:50%;margin-left:-95px;}
#versus .contestants .name {font-family:'volvo';font-size:120px;line-height:0.8em}
#versus .contestants .data {font-family:'outline';font-size:58px;}
}


/* Leaderboard END */


/* Admin START */

.admin {font-family:arial;}
table {margin-bottom:10px;}
th {text-align:right;padding-right:20px;}
th:after {content:':'}

#contestants {position:relative;margin:60px 10px 10px;padding:10px;}
#contestants ul {margin:0;padding:0;list-style:none;overflow:visible;}
#contestants ul:after {content:'';display:block;clear:both;}
#contestants li {background:#EFEFEF;float:left;margin:5px;border:solid 1px #16a6c9;border-radius:5px;padding:10px 10px 10px 50px;position:relative;width:250px;}
#contestants li:after {content:'';display:block;clear:both;}
#contestants li .wins {position:absolute;top:10px;left:10px;}
#contestants li .from {float:left}
#contestants li .data {float:right;text-align:right;}
#contestants li .controls {display:none;position:absolute;top:15px;left:50px;width:200px;background:#FFF;text-align:center;z-index:2;padding:5px;border:solid 2px green;}
#contestants li:hover .controls {display:block;}
#contestants li .controls > span {cursor:pointer}
#contestants li .controls .edit {margin-right:20px;}
#contestants li .controls .left {margin-right:10px;}
#add-contestant {font-size:18px;margin:0 10px 10px;}
form.contestant {position:absolute;top:40px;left:20px;border:solid 2px #16a6c9;border-radius:5px;padding:10px;background:#FFF;display:none;}
form.contestant .controls {overflow:hidden;padding-bottom:2px;}
form.contestant .controls .add {float:right;}
form.contestant .controls .cancel {float:left;}

form.editcontestant {position:absolute;top:15px;left:20px;border:solid 2px #16a6c9;border-radius:5px;padding:10px;background:#FFF;z-index:100;}
form.editcontestant .editcontrols {overflow:hidden;padding-bottom:2px;}
form.editcontestant .editcontrols .add {float:right;}
form.editcontestant .editcontrols .cancel {float:left;}
form.editcontestant .delete {display:block;margin:0 auto;width:50px;margin-top:10px;clear:both;}

#nextcontest {padding:10px;background:#000;position:fixed;top:0;left:0;width:100%;z-index:10;}
#nextcontest > * {vertical-align:top;}
#nextcontest .vs {font-size:36px;font-family:outline;color:#16a6c9}

#nextcontest .contesters {background:#FFF;display:inline-block;margin:0 5px;border:solid 1px #16a6c9;border-radius:5px;padding:5px 5px 5px 50px;position:relative;width:250px;}
#nextcontest .contesters:after {content:'';display:block;clear:both;}
#nextcontest .contesters >div:after {content:'';display:block;clear:both;}
#nextcontest .contesters .wins {position:absolute;top:5px;left:5px;}
#nextcontest .contesters .winner {position:absolute;bottom:0;left:2px;}
#nextcontest .contesters .from {float:left}
#nextcontest .contesters .data {float:right;text-align:right;}
#nextcontest .won {box-shadow: inset 0px 0px 100px 10px rgba(255,194,51,1);}

#nextcontest .contestcontrols {display:inline-block;}

/* Admin END */




/* button
---------------------------------------------- */
.button {
    display: inline-block;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

.bigrounded {
    border-radius: 2em;
}
.medium {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}
.small {
    font-size: 11px;
    padding: .2em 1em .275em;
}

/* color styles
---------------------------------------------- */

/* black */
.black {
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top,  #666,  #000);
}
.black:hover {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
    background: -moz-linear-gradient(top,  #444,  #000);
}
.black:active {
    color: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
    background: -moz-linear-gradient(top,  #000,  #444);
}

/* gray */
.gray {
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
}
.gray:hover {
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
}
.gray:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888);
}

/* white */
.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
}
.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
}
.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
}

/* orange */
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
}

/* red */
.red {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
}
.red:hover {
    background: #b61318;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
    background: -moz-linear-gradient(top,  #c9151b,  #a11115);
}
.red:active {
    color: #de898c;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
}

/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
}
.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
}

/* green */
.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
}
.green:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
}
.green:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
}

/* pink */
.pink {
    color: #feeef5;
    border: solid 1px #d2729e;
    background: #f895c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
    background: -moz-linear-gradient(top,  #feb1d3,  #f171ab);
}
.pink:hover {
    background: #d57ea5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
    background: -moz-linear-gradient(top,  #f4aacb,  #e86ca4);
}
.pink:active {
    color: #f3c3d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
    background: -moz-linear-gradient(top,  #f171ab,  #feb1d3);
}
