<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FMX - Admin</title>
    <link href='css/normalize.css' rel='stylesheet' />
    <link href='css/fonts.css' rel='stylesheet' />
    <link href='css/style.css' rel='stylesheet' />
  </head>
  <body class='admin'>
    <section id='nextcontest'>
      <button id='add-contestant' class='button green medium'>+ Contestant</button>
      <form class='contestant'>
        <table>
          <tr>
            <th>Firstname</th>
            <td><input type='text' name='firstname' value='' /></td>
          </tr>
          <tr>
            <th>Lastname</th>
            <td><input type='text' name='lastname' value='' /></td>
          </tr>
          <tr>
            <th>From</th>
            <td><input type='text' name='from' value='' placeholder='city' /></td>
          </tr>
          <tr>
            <th>Weight</th>
            <td><input type='number' name='weight' value='' placeholder='kilogram' /></td>
          </tr>
          <tr>
            <th>Height</th>
            <td><input type='number' name='height' value='' placeholder='centimeter' /></td>
          </tr>
        </table>
        <div class='controls'>
          <button type='reset' class='button red cancel'>✘ Cancel</button>
          <button type='submit' class='button green add'>✔ Add</button>
        </div>
      </form>
      <div class='contesters left'>
      </div>
      <span class='vs'>vs</span>
      <div class='contesters right'>
      </div>
      <div class='contestcontrols'>
        <button class='start button medium'>Start contest</button>
        <button class='setwinner button medium'>Accept winner</button>
        <button class='cancel button medium'>Cancel contest</button>
      </div>
    </section>

    <section id='contestants'>
      <ul class='contestant-listing'></ul>
    </section>

    <script id="contestantitem" type="text/x-handlebars-template">
        <li data-id='{{id}}'>
          <span class='controls'>
            <span class='edit' data-id='{{id}}'>✎</span>
            <span class='left' data-id='{{id}}'>← Left</span>
            <span class='right' data-id='{{id}}'>Right →</span>
          </span>
          <span class='wins'>({{wins}})</span> <span class='from'>{{firstname}} {{lastname}}<br />{{from}}</span> <span class='data'>{{weight}} kg<br />{{height}} cm</span>
        </li>
    </script>

    <script id="contesteritem" type="text/x-handlebars-template">
        <div data-id='{{id}}'>
          <button class='winner'>!</button>
          <span class='wins'>({{wins}})</span> <span class='from'>{{firstname}} {{lastname}}<br />{{from}}</span> <span class='data'>{{weight}} kg<br />{{height}} cm</span>
        </div>
    </script>


    <script id="editcontestant" type="text/x-handlebars-template">
      <form class='editcontestant'>
        <input type='hidden' name='id' value='{{id}}' />
        <table>
          <tr>
            <th>Firstame</th>
            <td><input type='text' name='firstname' value='{{firstname}}' /></td>
          </tr>
          <tr>
            <th>Lastname</th>
            <td><input type='text' name='lastname' value='{{lastname}}' /></td>
          </tr>
          <tr>
            <th>From</th>
            <td><input type='text' name='from' value='{{from}}' placeholder='city' /></td>
          </tr>
          <tr>
            <th>Weight</th>
            <td><input type='number' name='weight' value='{{weight}}' placeholder='kilogram' /></td>
          </tr>
          <tr>
            <th>Height</th>
            <td><input type='number' name='height' value='{{height}}' placeholder='centimeter' /></td>
          </tr>
          <tr>
            <th>Wins</th>
            <td><input type='number' name='wins' value='{{wins}}' placeholder='# of wins' /></td>
          </tr>
        </table>
        <div class='editcontrols'>
          <button type='reset' class='button red cancel'>✘ Cancel</button>
          <button type='submit' class='button green add'>✔ Accept</button>
        </div>
        <button class='button small orange delete'>Delete</button>
      </form>
    </script>

    <script src='js/jquery-2.0.3.js'></script>
    <script src='js/handlebars.js'></script>
    <script src='js/shared.js'></script>
    <script src='js/admin.js'></script>
  </body>
</html>
