<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FMX - Leaderboard</title>
    <link href='css/normalize.css' rel='stylesheet' />
    <link href='css/fonts.css' rel='stylesheet' />
    <link href='css/style.css' rel='stylesheet' />
  </head>
  <body class='leaderboard'>
    <section id='leaderboard'>
      <span class="h1">Scoreboard</span>
      <ul class='toplist'>
      </ul>
    </section>
    <section id='versus'>
      <div class='contestants'>
        <div class='left'></div>
        <div class='middle'>vs</div>
        <div class='right'></div>
      </div>
    </section>

    <script id="leaderboarditem" type="text/x-handlebars-template">
        <li><span class='wins'>({{wins}})</span><span class='info'><span class='bullet'>{{position}}.</span> {{firstname}} {{lastname}} <span class='from'>{{from}}</span> {{weight}} kg</span></li>
    </script>

    <script id="contestitem" type="text/x-handlebars-template">
      <div class='name'>{{firstname}}<br />{{lastname}}</div>
      <div class='data'>{{weight}} kg, {{height}} cm, {{from}}</div>
    </script>


    <script src='js/jquery-2.0.3.js'></script>
    <script src='js/handlebars.js'></script>
    <script src='js/shared.js'></script>
    <script src='js/leaderboard.js'></script>
  </body>
</html>
